<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 
  <servlet>
    <description></description>
    <display-name>InitalizeApp</display-name>
    <servlet-name>InitalizeApp</servlet-name>
    <servlet-class>in.demo.controller.InitalizeApp</servlet-class>
   
    <init-param>
       <param-name>Name</param-name>
       <param-value>Sachin</param-value>
    </init-param>
    
    <init-param>
       <param-name>Age</param-name>
       <param-value>25</param-value>
    </init-param>
    
    <init-param>
       <param-name>Address</param-name>
       <param-value>mi</param-value>
    </init-param>
    
    <load-on-startup>10</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InitalizeApp</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>